@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
}
body {
  font-family: "Roboto, Helvetica, sans-serif",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
